{% extends "base.html" %}
{% load extra_tag %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% if request.user|has_group:"teachers" %}
    <div class="d-grid gap-2 col-2 mx-auto">
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Добавить урок</button>

      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Добавить день занятий</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <input id="date" type="date">
          </div>
          <div class="col">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="button" class="btn btn-success">Добавить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
    <form action="{% url 'create_day' %}" method="get">
      <button class="btn btn-success" type="submit">#Добавить урок</button>
    </form>
    {% endif %}
  </div>
  <div class="row">
    {% for day in days %}
    <div class="col-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{day.date}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="{% url 'day' year=day.date.year month=day.date.month day=day.date.day%}" class="btn btn-primary">Детали</a>
        </div>
      </div>
    </div>
    
    {% endfor %}

  </div>
</div>

{% endblock %}