{% extends "base.html" %}
{% load extra_tag %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container">
  <div class="row my-2">
    <div class="d-grid gap-2 col-2 mx-auto">
      {% if request.user|has_group:"teachers" %}
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createDayModal">Добавить урок</button>
      {% else %}
      <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createDayModal" disabled>Добавить урок</button>
      {% endif %}

      <!-- Modal -->
      <div class="modal fade" id="createDayModal" tabindex="-1" aria-labelledby="createDayModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="createDayModalLabel">Добавить день занятий</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col">
                  <input id="date" type="date" name="date">
                </div>
                <div class="col">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button id="createDay" type="button" class="btn btn-success">Добавить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {% for date, day in days.items %}
    <div class="col-3 mb-3">
      <div class="card shadow h-100" style="width: 18rem">
        <div class="d-flex justify-content-center mt-2">
          <h5 class="card-title">{{day.day.date}}</h5>
        </div>
        <div class="card-body overflow-auto" style="height: 150px;">
          <ol>
            {% for lesson in day.lessons%}
            <li>
              <p>{{lesson.subject}}</p>
            </li>
            {% endfor %}
          </ol>
        </div>
        <div class="d-flex justify-content-center mb-1">
          <a href="{% url 'day' id=day.day.id%}" class="btn btn-primary col-6">Детали</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  $("#createDay").click(function(){
    const csrftoken = getCookie('csrftoken');
    let date = $('input[name=date]').val()
    if (date === "") {
      alert("Укажите дату")
      return
    }
    $.ajax({
      url: "{% url 'create_day' %}",
      method: "POST",
      headers: { 
        'X-CSRFToken': csrftoken
      },
      data: {
        "date": Date.parse(date) / 1000
      },
      error: function(date) {
        console.log(date.responseJSON.message)
        let type = 'danger';
        var alertPlaceholder = document.getElementById('flash-msg')
        var wrapper = document.createElement('div');
        wrapper.innerHTML = '<div class="alert alert-danger alert-dismissible" id="dangerFlash" role="alert">' + date.responseJSON.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>'
        alertPlaceholder.append(wrapper);
        setTimeout(function() {
          $('#dangerFlash').fadeOut();
        }, 5000);
        $('#createDayModal').modal('hide');
      },
      success: function (data) {
        if (data) {
          window.location.replace(`day/${data.day_id}`);
        } else {
          window.location.replace('/');
        }
      }
    });
    return false;
  })
</script>
{% endblock %}